.square {
    display: inline-block;
    width: 256px; height: 256px;
    color: black;
    background-color: tan;
    font-size: 200px;
    margin: 8px;
    vertical-align: middle;
}

h3 {
    display: inline;
}

body {
    text-align: center;
    color: tan;
    background-color: black;
    font-family: '';
}

button {
    background-color: tan;
}